body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-image 0.3s ease-in-out;
}

#root {
  display: flex;
  justify-content: space-evenly;
}
